*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Raleway', sans-serif;
}


/*landing page*/

/*body, html {
  height: 100%;
  margin: 0;
 
}*/


.bg-image {

  background-image: url("assets/images/jap1.jpg");
  width: 100%;
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.bg-text {
  /*background-color: rgb(0,0,0);*/
  background-color: rgba(0,0,0, 0.8);  /*Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #141414;  /*off black*/
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 60%;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
}

.edit-tbn {
	background-color: skyblue;
	
}
 
.edit-tbn > a {
	text-decoration: none;
	color:  #141414;  /*off black*/
	font-weight: bold;
	font-size: 20px;
}


li {
	list-style-type: none;
}

.my-4 {
	color: #f2f2f2; /*off white*/
}


/*end of landing page*/




/*about us page*/

#jumbotron-about {
 	background-color: lightblue;
 	height: 100vh; /*vh is viewport*/
 	width: 100%;
 	position: relative;
 	background-image: url("../images/bk2.jpg");  
 	background-size: cover;      
 	background-repeat: no-repeat; 
 	background-attachment: fixed; 
 	background-position: center;
 	font-family: 'Montserrat', sans-serif;
 	margin-bottom: 0;

 }

#landing-about {
	color: #f2f2f2;
	font-size: 5em;
	padding: 20vh;
	letter-spacing: 5px;
	font-family: 'Montserrat', sans-serif;
}

.about-tags {
	font-weight: bold;
	font-family: 'Montserrat', sans-serif;
}

#mission {
	height: 100%;
	background-color: #141414;  /*off black*/
	color: #f2f2f2; /*off white*/
}

#vision {
	height: 100%;
	background-color: #f2f2f2; /*off white*/   
	color: #141414;  /*off black*/
}

/*end of about us page*/



/*home page*/
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #141414;  /*off black*/
}

* {
    box-sizing: border-box;
}

/* Add padding to containers */
.container {
    padding: 16px;
    background-color: white;
}

/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

/* Overwrite default styles of hr */
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

/* Set a style for the submit button */
.registerbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.registerbtn:hover {
    opacity: 1;
}

/* Add a blue text color to links */
a {
    color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
    background-color: #f1f1f1;
    text-align: center;
}




#navbar1 {
	background-color: #4B595E;/*#333;*/
}

#jumbotron-home {
 	background-color: lightblue;
 	height: 90vh; /*vh is viewport*/
 	width: 100%;
 	position: relative;
 	background-image: url(../images/landingbest.jpeg);  
 	background-size: cover;      
 	background-repeat: no-repeat; 
 	background-attachment: fixed; 
 	background-position: center;
 	font-family: 'Montserrat', sans-serif;
 	margin-bottom: 0;
}



.alert {
	background-color: green;
	color: white;
	text-align: center;
	padding: 5px;
	display: none;
	width: 50%;
	margin: 0 auto;
	/*visibility: hidden;*/
}

.box1 {
 	border: 2px solid #141414; /*off white*/
 	color: black;
 	text-align: center; 
 	width: 40%;
 	padding: 30px;
 	position: absolute;
 	top: 40%;
 	left: 50%;
 	transform: translate(-50%, -50%); /* x and y values*/
 	border-radius: 10px;
 }




#gallery-items1 .card {
	height: 400px;
	margin-bottom: 2px;
}

#gallery-items1 .card img {
	height: 250px;
	margin-bottom: 50px;
}




.col-container {
	display: flex;
	width: 100%;
}

.col {
	flex: 1;
}
/*.btn a {
	text-decoration: none;
	color: #f2f2f2;
}*/


.footer {
	min-height: 50px;
	padding: 15px;
	margin-bottom: 0px;
	position: relative;
}

.contact {
	float: right;
}

.forleftside {
	float: left;
}
/*end of home page*/



/*contact us page*/

#contactform {
    padding: 16px;
    background-color: white;
}

#jumbotron-contact {
 	background-color: lightblue;
 	height: 90vh; /*vh is viewport*/
 	width: 100%;
 	position: relative;
 	background-image: url("../images/game.jpeg");  
 	background-size: cover;      
 	background-repeat: no-repeat; 
 	background-attachment: fixed; 
 	background-position: center;
 	font-family: 'Montserrat', sans-serif;
 	margin-bottom: 0;
}

.row {
	height: 75vh;
	width: 100%;
	margin-top: 25px;
}
.left-side {
border: 2px solid #141414;
padding: 5px; 
border-radius: 10px; 
}

.right-side {
border: 2px solid #141414;
padding: 5px 5px 0px 5px; 
border-radius: 10px;
padding-bottom: 0px;
}

/*end of contact us */


/*gallery page*/
#jumbotron-gallery {
 	background-color: lightblue;
 	height: 90vh; /*vh is viewport*/
 	width: 100%;
 	position: relative;
 	background-image: url("../images/bg10.jpg");  
 	background-size: cover;      
 	background-repeat: no-repeat; 
 	background-attachment: fixed; 
 	background-position: center;
 	font-family: 'Montserrat', sans-serif;
 	margin-bottom: 0;
}


#cardcontainer {
	position: relative;
	top: 30vh;
}

#gallery-items .card {
	height: 400px;
	margin-bottom: 2px;
}

#gallery-items .card img {
	height: 250px;
	margin-bottom: 50px;
}

#carousel-home {
	height: 90vh;  
	/*max-height: 90vh;*/
}

#heightoftop10 {
	height: 45vh;
}

#carousel-caption h3 {
	font-size: 3em;
}

#carousel-caption p {
	font-size: 1.7em;
}

/*end of gallery page*/

/*forum page*/
#jumbotron-forum {
 	background-color: lightblue;
 	height: 90vh; /*vh is viewport*/
 	width: 100%;
 	position: relative;
 	background-image: url("../images/bk3.jpg");  
 	background-size: cover;      
 	background-repeat: no-repeat; 
 	background-attachment: fixed; 
 	background-position: center;
 	font-family: 'Montserrat', sans-serif;
 	margin-bottom: 0;
 }
 /*end home*/

.forum1 {
	letter-spacing: 2px;
	margin-bottom: 10px;
	color: #f2f2f2; /*off white*/
	background-color: rgba(0,0,0, 0.75);
	padding: 10px;
	border-radius: 10px;
	font-weight: bold;
	font-size: 45px;
}

 .box {
 	border: 2px solid #141414; /*off black*/
 	color: black;
 	text-align: center; 
 	width: 40%;
 	padding: 30px;
 	position: absolute;
 	top: 50%;
 	left: 50%;
 	transform: translate(-50%, -50%); /* x and y values*/
 	border-radius: 10px;
 }

 #down {
	position: absolute;
	bottom: 0;
	/*text-align: center;*/
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: rgba(97,203,217, 1);
}


.down a {
	color: #f2f2f2; /*off white*/
	text-decoration: none;
	padding: 10px;
	/*color: #333;*/
}






/* end forum page*/

/*sell and trade page*/

#jumbotron-sellandtrade {
 	background-color: lightblue;
 	height: 90vh; /*vh is viewport*/
 	width: 100%;
 	position: relative;
 	background-image: url("../images/landing3.jpg");  
 	background-size: cover;      
 	background-repeat: no-repeat; 
 	background-attachment: fixed; 
 	background-position: center;
 	font-family: 'Montserrat', sans-serif;
 	margin-bottom: 0;
 }
 
/*end of sell and trade page*/

/*Desktop Styles*/
@media only screen and (min-width: 961px) {

}

/*Tablet Styles*/
@media only screen and (min-width: 401px) and (max-width: 960px) {

}

/*Mobile Styles */
@media only screen and (max-width: 400px) {

	#jumbotron-home {
		background-image: url(../images/bk3.jpg);
	}


.forum1 {
	letter-spacing: 2px;
	margin-bottom: 5px;

	padding: 5px;
	border-radius: 10px;
	font-weight: bold;
	font-size: 1em;
}

#carousel-caption h3 {
	font-size: 1.5em;
}


	#carousel-home {
		height: 100%;
	}
	.register {
	padding-left: 5px;
	}

}