

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Raleway', sans-serif;
}


#navbar1 {
	background-color: #333;
}



li {
	list-style-type: none;
}

#landing1 {
	height: 100%;
	width: 100%;
	background-color: #333;
}

#h1landing {
	font-size: 30px;
}

#p1paragraph {
	font-size: 25px;
}


.btn a {
	text-decoration: none;
	color: #f2f2f2;
}

#thegames {
	width: auto;
	height: 100vh;
}

#sellandtrade {
	width: auto;
	height: 100vh;
}

#forums1 {
	width: auto;
	height: 100vh;
}

#about1 {
	width: auto;
	height: 100vh;
}

/*.footer {
	position: absolute;
	bottom: 0;
	width:100%;
}*/








