

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Raleway', sans-serif;
}

/*landing page*/

body, html {
  height: 100%;
  margin: 0;
 
}
#home-landing {
		color: #f2f2f2; /*off white*/
		font-weight: bold;
}

.bg-image {

  background-image: url("../images/jap1.jpg");
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.bg-text {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.8);  /*Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 60%;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
}



li {
	list-style-type: none;
}
/*.jumbotron {
	color: #333; 
}*/ /*black*/

/*end of landing page*/


/*about us page*/

#jumbotron-about {
	background-color: #141414;
	height: 90vh;
	border-radius: 0;
	margin-bottom: 0;
}
#landing-about {
	color: #f2f2f2;
	font-size: 5em;
	padding: 20vh;
	letter-spacing: 5px;
	font-family: 'Montserrat', sans-serif;
}

.about-tags {
	font-weight: bold;
	font-family: 'Montserrat', sans-serif;
}

#mission {
	height: 100%;
	background-color: #141414;  /*off black*/
	color: #f2f2f2; /*off white*/
}

#vision {
	height: 100%;
	background-color: #f2f2f2; /*off white*/   
	color: #141414;  /*off black*/
}

/*end of about us page*/



/*home page*/
#navbar1 {
	background-color: #333;
}

#home-landing {
	background-image: url(../images/landingbest.jpeg);
	background-position: center center;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-repeat: no-repeat;
	color: #f2f2f2; /*off white*/
	height: 100vh;
	/*font-family: 'Pattaya', sans-serif;*/
	/*font-family: 'Anton', sans-serif;*/
	padding: 20%;

	/*Add the blur effect 
    filter: blur(8px);
    -webkit-filter: blur(8px);*/
}

#carousel-home {
	height: 90vh;  /*height: 100vh
	max-height: 90vh;
}


/*.btn a {
	text-decoration: none;
	color: #f2f2f2;
}*/



/*.footer {
	position: absolute;
	bottom: 0;
	width:100%;
}*/

/*end of home page*/


/*gallery page*/
#head-gal {
	margin-top: 8%;
	background-color: #141414; /*off black*/
	color: #f2f2f2; /*off white*/
	text-transform: uppercase;
	letter-spacing: 0.5em;
}

#gallery-items .card {
	height: 400px;
	margin-bottom: 20px;
}

#gallery-items .card img {
	height: 250px;
	margin-bottom: 50px;
}


/*end of gallery page*/

/*forum page*/

#jumbotron-forum {
	background-color: #141414;
	height: 90vh;
	border-radius: 0;
	margin-bottom: 0;
}

/*#forum-page {
	height: 500vh;
	padding-top: 10%;
	border-radius: 0;
}*/

/* end forum page*/

/*sell and trade page*/

#jumbotron-sellandtrade {
	background-color: #141414;
	height: 90vh;
	border-radius: 0;
	margin-bottom: 0;
}
/*end of sell and trade page*/
